.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1{
    text-align: center;
}
.input-container {
    margin-bottom: 20px;
}
.input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
.input-container input:focus{
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

h2{
    text-align: center;
    /* margin-top: 2rem; */
}

.certificate-container{
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
    width: 400px;
}

.certificate-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 2rem;
  }
  
  .drive-url {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    text-align: center;
  }
 
  